<!DOCTYPE html>
{% load static %}
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshiki Ichibangase | Profile</title>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <link rel="icon" type="image/png" href="{% static '/img/icon.png' %}">
    <script src="{% static 'js/test.js' %}"></script>
</head>
<body>
    <div id="menu-wrapper">
        
        <div class="menu-btn">
            <span class="menu-line-top"></span>
            <span class="menu-line-middle"></span>
            <span class="menu-line-bottom"></span>
        </div>
        <ul class="menu-bar">
            <li></li>
            <li class="menu-item"><a id="topLink" href="#">Top</a></li>
            <li class="menu-item"><a id="profileLink" href="#">Profile</a></li>
            <li class="menu-item"><a id="skillLink" href="#">Skills</a></li>
            <li class="menu-item"><a id="portfolioLink" href="#">Portfolio</a></li>
            <li class="menu-item"><a id="contactLink" href="#">Contact</a></li>
        </ul>
        
        
    </div>
    <div id="top">
        <div id="top-pad">
            <h1>To achieve goal, step one by one.</h1>
        </div>
        
    </div>
    {% if messages %}
    <div class="messages-wrap">
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="profile" class="section">
        
        <table class="align-center">
            <tr>
                <th>Toshiki Ichibangase</th>
            </tr>
            <tr>
                <td>
                    一番ヶ瀬　俊季<br>
                    1993年生まれ 地球出身<br>
                    地球内訳：柳川（福岡）・藤沢・Georgia(US)・西宮・仙台
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>
    <div id="skill" class="spacer"></div>
    <div class="title-wrap">
        <table class="title">
            <tr>
                <th>
                    Skills    
                </th>
            </tr>
        </table>
    </div>
    <div id="skill-bg">
        <div class="section horizontal-list-wrap">
            <ul class="horizontal-list">
                <li class="item align-center">
                    <p>Flutter / Dart</p>
                </li>
                <li class="item align-center">
                    <p>Django / python</p>
                </li>
                <li class="item align-center">
                    <p>ASP.net / C#</p>
                </li>
                <li class="item align-center">
                    <p>HTML / CSS</p>
                </li>
                <li class="item align-center">
                    <p>javascript / jQuery</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="portfolio" class="spacer"></div>
    
    <div class="title-wrap">
        <table class="title">
            <tr>
                <th>
                    Portfolio    
                </th>
            </tr>
        </table>
    </div>
    <div id="portfolio-bg">
        <div class="section horizontal-list-wrap">
            <ul class="horizontal-list">
                <li class="item align-center">
                    <p>Cue <br> ~Question Diary~</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="contact" class="spacer"></div>
    <div>
        <table class="title">
            <tr>
                <th>
                    Contact
                </th>
            </tr>
        </table>
    </div>
    <div class="contact-section">
        <div class="contact-field">
            <div class="discription">お問い合わせ</div>
            <ul class="icon-list">
                <li class="icon-item">Facebook</li>
                <li class="icon-item">Twitter</li>
                <li class="icon-item">Instagram</li>
            </ul>
            <form action="inquiry" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <div class="input-wrap"><input class="input-box" type="text" name="name" id="name" placeholder="Name"></div>
                    <div class="input-wrap"><input class="input-box" type="email" name="email" id="email" placeholder="E-mail"></div>
                    <div class="input-wrap"><input class="input-box" type="text" name="title" id="title" placeholder="Title"></div>
                    <div class="input-wrap"><textarea class="input-box" name="contents" id="contents" rows="10" placeholder="contents"></textarea></div>
                    <div class="input-wrap"><input class="send-button" type="submit" value="Inquire"></div>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <p>©2021 / Toshiki Ichibangase</p>
    </div>
</body>
</html>