<!DOCTYPE html>
{% load static %}
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toshiki Ichibangase | Profile</title>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <link rel="icon" type="image/png" href="{% static '/img/icon.png' %}">
    <script src="{% static 'js/test.js' %}"></script>
</head>
<body>
    <div id="top">
        <h1>Toshiki Ichibangase</h1>
    </div>
    <div id="profile" class="section">
        Profile
    </div>
    <div id="skill" class="section">
        Skill
    </div>
    <div id="portfolio" class="section">
        Portfolio
    </div>
    <div id="contact" class="section">
        Contact
    </div>
</body>
</html>