body{
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
}



.section {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#top {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url("/static/img/top_image.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

}

#top h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    color: #ffffff;
    font-size: 2em;
    background-color: rgba(0, 0, 0, .4);
    transform: translate(-50%, -50%);
}


/* ------ Class ------- */

.align-center {
    text-align: center;
}

/* ---------- Menu Bar ---------- */

.menu-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: block;
    margin: 0%;
    padding: 0%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.menu-item {
    padding: 15px;
    display: block;
    float: right;
    color: white;
    font-weight: 200;
}

/* --------- Horizontal List ---------- */
.horizontal-list-wrap {
    overflow: hidden;
    height: 500px;
}

.horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 25px;
    box-sizing: content-box;
}

.item {
    display: inline-block;
    width: 283px;
    height: 400px;
    margin: 16px;
    font-size: 24px;
    color: #ffffff;
    background: rgba(38, 38, 38, 0.4);
    border-radius: 20px;
}
